name: On Push To Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image:latest
    steps:
      - uses: actions/checkout@v6
      - name: build
        env: 
          GOFLAGS: -buildvcs=false
        run: |
          op build
